<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Chat</title>
  </head>

  <body>
    <h1>{{ title }}</h1>
	{% for object in objects %}
		<p>
			{{ object.contents }}
		</p>
	{% endfor %}
   </ul>
   </div>
    <form action="" method="post" novalidate>
     <table>
      {{ form.as_table }}
     <tr>
      <td>&nbsp;</td>
      <td><input id="contents" name="contents"></td>
      <td><input id="send" name="send" type="submit" value="Submit"></td>
     </tr>
     </table>
     {% csrf_token %}
    </form>
  </body>
</html>
